body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

ri-li {
  display: inline-block;
  border: 1px solid white;
  overflow: hidden;
  position: relative;
  height: 100%;
  width: 100%;
}
